appdirs==1.4.0
click==6.7
dropbox==7.2.0
Flask==0.12
Flask-Admin==1.4.2
Flask-Dropbox==0.3
Flask-Login==0.4.0
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
psycopg2==2.7
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.5
typing==3.5.3.0
urllib3==1.20
Werkzeug==0.11.15
WTForms==2.1
gunicorn==19.6.0