body{
  font-family: 'Open Sans', arial, sans-serif;
  background:rgb(123, 158, 158);

}
*{
  margin:0;
  padding:0;
}
#header{
    background-color: black;
    height: 60px;
}
h2 {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  color: white;
  padding: 2rem;
  margin:2rem;
  position: relative;
  
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  bottom: 19px; 
  right: 50px;    
}
#main{
    
    width: 330px;
    height: 310px;
    position: relative;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-transform: uppercase;
    top: 150px;
    left: 500px;
}
#bt{
    font-size: 20px;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-transform: uppercase;
    width: 323px;
    height: 35px;
    letter-spacing: .3rem;
    
}
.txtbox{
    width: 300px;
    height: 20px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: whitesmoke;
    font-family: inherit;
    font-size: 20px;
}
.txt{
    color: white;
    font-family: inherit;
    font-size: 20px;
}


.txthead{
    font-size: 45px;
    text-align: center;
    position: relative;
    bottom: 50px;
}