body{
  font-family: 'Open Sans', arial, sans-serif;
  background:rgb(123, 158, 158);

}
*{
  margin:0;
  padding:0;
}

#header{
    background-color: black;
    height: 60px;
}
h2 {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  color: white;
  padding: 2rem;
  margin:2rem;
  position: relative;

  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  bottom: 19px;
  right: 50px;
}

#notes {

    color: white;
    width: 330px;
    height: 310px;
    position: relative;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-transform: uppercase;
    top: 150px;
    left: 500px;

}


.textbox{
    font-size: 30px;
    width: 248px;
    height: 30px;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;


}


#bt{
    font-size: 20px;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-transform: uppercase;
    width: 253px;
    height: 35px;
    letter-spacing: .3rem;

}
#cfile{
    width: 250px;
    height: 32px;
    font-size: 20px;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;

}

.txthead{
    font-size: 40px;
    position: relative;
    color: white;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
    right: 20px;
    bottom: 70px;
}