<html>
    <head>
    <title> userprofile </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="account.css") }}>
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
                <h2>  <a href={{ url_for('profile') }}> BUKSHELF </a> </h2>
           
        </div>
        <table>
            <TR>
                <TH class="c1"> <h1>Downloaded</h1> </TH>
            </TR>
            {% for item in notes_downloaded %}
            <TR>
                <TD class="c2">{{item.title}}</TD>
            </TR>
            {% endfor %}
            <TR>
                <TH class="c1"> <h1>Uploaded</h1> </TH>
            </TR>
            {% for item in notes_uploaded %}
            <TR>
                <TD class="c2">{{item.title}}</TD>
            </TR>
            {% endfor %}
            <TR>
                <TH class="c1"> <h1>Books owned</h1> </TH>
            </TR>
            {% for item in books_owned %}
            <TR>
                <TD class="c2">{{item.book_name}}</TD>
            </TR>
            {% endfor %}
        </table>
            <div id="search">
                        
            <form method="POST">
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
        
     <a id="fork" href={{ url_for('signout') }}>Signout</a>
        
    </body>   
</html>