<!DOCTYPE html>
<html>
    <head>
        <title>book</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="book.css") }} />
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
        <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src={{ url_for('static', filename="notify.min.js") }} />
        <script type="text/javascript">
         $(document).ready(function() {
            //write your scripts here
             $(document).on("submit", "#signup", function(e) {
                    var password = document.getElementById("pwd1").value;
                    var confirmPassword = document.getElementById("pwd2").value;
                    if (password != confirmPassword) {
                        alert("Passwords do not match.");
                        e.preventDefault(e);
                    } else {
                        alert("Registered Successfully");
                    }
                 
                });
         });


        </script> -->
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
                <h2> <a href={{ url_for('profile') }}> BUKSHELF </a> </h2>

            </div>

            <div id="main">    

                <form id="book" method="POST">
                    <table>
                        <tr class="txt">
                            <td class="txthead">Book Details</td>
                        </tr>
                        <tr>
                            <td><input class="txtbox" placeholder="Book Name" type="text" name="bname" required></td>
                        </tr>
                        <tr>
                        <td><input class="txtbox" placeholder="Book Edition" type="text" name="bedition" required></td>
                        </tr>
                         <tr>
                            <td><input class="txtbox" placeholder="Author Name" type="text" name="Aname" required></td>
                        </tr>
                         <tr>
                            <td><input class="txtbox" placeholder="Price" type="number" name="srate" min="1" max="1500"  required></td>
                         </tr>
                        <tr>
                            <td><input id="bt" type="submit" value="Submit" /></td>
                        </tr>

                    </table>
                </form>
            </div>

        </div>


        <a id="fork" href={{ url_for('signout') }}>Signout</a>
    </body>
</html>