<!DOCTYPE html>
<html>
    <head>
        <title>book</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='book.css') }} />
        <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
        <script type="text/javascript">
         $(document).ready(function() {
            //write your scripts here
             $(document).on("submit", "#signup", function(e) {
                    var password = document.getElementById("pwd1").value;
                    var confirmPassword = document.getElementById("pwd2").value;
                    if (password != confirmPassword) {
                        alert("Passwords do not match.");
                        e.preventDefault(e);
                    } else {
                        alert("Registered Successfully");
                    }
                 
                });
         });


        </script> -->
    </head>

<body>
    
    
    <div id="content">
        
        
        
        <div class="im">
              <img src="pb.jpg" width="150px" height="50px">
            </div>
        
        <div id="main">    
        
            <form id="book" method="POST">
            <table>
                <tr>
                    <td class="txt">User Details</td>
                </tr>    
                <tr>
                    <td><input class="txtbox" placeholder="Name" type="text" name="name" required></td>
                </tr>
                    <td> <input class="txtbox" placeholder="Department" type="text" name="dpt" required></td>
                </tr>
                <tr>
                <td><input class="txtbox" placeholder="Email" type="email" name="email" required></td>
                </tr> 
                
                <tr class="txt">
                    <td>Book Details</td>
                </tr>
                <tr>
                    <td><input class="txtbox" placeholder="Book Name" type="text" name="bname" required></td>
                </tr>
                <tr>
                <td><input class="txtbox" placeholder="Book Edition" type="text" name="bedition" required></td>
                </tr>
                 <tr>
                    <td><input class="txtbox" placeholder="Author Name" type="text" name="Aname" required></td>
                </tr>
                 <tr>
                    <td><input class="txtbox" placeholder="Price" type="number" name="srate" min="1" max="150"  required></td>
                 </tr>
                <tr>
                    <td><input id="bt" type="submit" value="Submit" /></td>
                </tr>
         
            </table>
            </form>
        </div>
    </div>
</div> 
</body>
</html>