<html>
    <head>
        <title>Home Page</title>
        <!--<link rel="stylesheet" type="text/css" href="home.css" />-->
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='home.css') }} />
        <script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.email.value == "myid@rajalakshmi.edu.in" && form.psw.value == "mypsw") {
                    window.location('userpro.html')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Invalid Password or Username")/*displays error message*/
                }
            }
        </script>
    </head>
        <body>
            <div class="im">
              <!--<img src="pb.jpg" width="150px" height="50px">-->
              <img src={{ url_for('static', filename="pb.jpg") }} width="150px" height="50px">
            </div>
                <div id="main">
                    <form method="POST">
                        <input class="txtbox" type="text" placeholder="Email" name="email" required><br>
    

                        <input class="txtbox" type="password" placeholder="Password" name="psw" required><br>

                        <button class="btn" type="submit" onclick="check(this.form)">Login</button><br>
    
                    
                    </form>
                    <span class="new"><a href={{ url_for("signup") }} >Register here!</a></span>
                </div>

          <!--  <div id="quote">
               "Read <br>
                & <br>
               Reap" 
                
            </div> -->
            
    </body>
</html>