<html>
    <head>
        <title> home page </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="home.css") }}>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
        <script>
        var vid = document.getElementById("bgvid");
        var pauseButton = document.querySelector("#polina button");

        if (window.matchMedia('(prefers-reduced-motion)').matches) {
            vid.removeAttribute("autoplay");
            vid.pause();
            pauseButton.innerHTML = "Paused";
        }

        function vidFade() {
          vid.classList.add("stopfade");
        }

        vid.addEventListener('ended', function()
        {
        // only functional if "loop" is removed
        vid.pause();
        // to capture IE10
        vidFade();
        });


        pauseButton.addEventListener("click", function() {
          vid.classList.toggle("stopfade");
          if (vid.paused) {
            vid.play();
            pauseButton.innerHTML = "Pause";
          } else {
            vid.pause();
            pauseButton.innerHTML = "Paused";
          }
        })


</script>
          

    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <video poster="bg.jpg" id="bgvid" playsinline autoplay muted loop>
          <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
        <source src={{ url_for('static', filename="bgv4.mp4") }} type="video/mp4">
        </video>
        
        
        <div id="polina">
            <h1>BUKSHELF</h1>
            <h5>Learn & Earn</h5>

            <div id="main">
                <form method="POST">
                    <input class="txtbox" type="text" placeholder="Email" name="email" required><br>


                    <input class="txtbox" type="password" placeholder="Password" name="psw" required><br>

                    <button class="btn" type="submit">Login</button><br>


                </form>
                <span class="new"><a href={{ url_for("signup") }} >Sign Up </a></span>
            </div>
        </div>
        
    </body>
</html>