<html>
    <head>
        <title> select </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="select.css") }}>
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    </head>
    
    
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
                <h2>  <a href={{ url_for('profile') }}> BUKSHELF </a> </h2>
           
        </div>
      <center>
          <a href={{ url_for('upload') }}> <img src={{ url_for('static', filename="notes1.jpg") }} alt="notes" width="500px" > </a>
      
          <a href={{ url_for('book') }}> <img src={{ url_for('static', filename="books1.jpg") }} alt="books" width="500px" > </a>
        </center>
    
        <div id="search">

            <form method="POST">
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>

     <a id="fork" href={{ url_for('signout') }}>Signout</a> 
     <a id="my_account" href={{ url_for('account') }}>My Account</a>
    </body>   
</html>
