<!DOCTYPE html>
<html>
    <head>
       <title>signup</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="signup.css") }} />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
         $(document).ready(function() {
            //write your scripts here
             $(document).on("submit", "#signup", function(e) {
                    var password = document.getElementById("pwd1").value;
                    var confirmPassword = document.getElementById("pwd2").value;
                    if (password != confirmPassword) {
                        alert("Passwords do not match.");
                        e.preventDefault(e);
                    } else {
                        alert("Registered Successfully");
                    }

                });
         });

        </script>
    </head>


    <body>
        <div id="header">
                <h2>  BUKSHELF  </h2>

        </div>


        <div id="main">

            <h1> SIGN UP! </h1>

            <form id="signup" method="POST">
                <table>
                    <tr>
                        <td><input class="txtbox" placeholder="Name" type="text" name="name" required></td>
                    </tr>
                    <tr>
                        <td> <input class="txtbox" placeholder="Department" type="text" name="dpt" required></td>
                    </tr>
                    <tr>
                    <td><input class="txtbox" placeholder="Email" type="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td><input class="txtbox" placeholder="Password" type="password" name="pwd1" required></td>
                    </tr>
                    <tr>
                    <td><input class="txtbox" placeholder="Confirm Password" type="password" name="pwd2" required></td>
                    </tr>
                    <tr>
                        <td><input id="bt" type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>

