<!DOCTYPE html>
<html>
    <head>
       <title>signup</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="signup.css") }} />
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
    </head>


    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
                <h2> BUKSHELF </h2>

        </div>


        <div id="main">

            <h1> SIGN UP! </h1>

            <form id="signup" method="POST">
                <table>
                    <tr>
                        <td><input class="txtbox" placeholder="Name" type="text" name="name" required></td>
                    </tr>
                    <tr>
                        <td> <input class="txtbox" placeholder="Department" type="text" name="dpt" required></td>
                    </tr>
                    <tr>
                    <td><input class="txtbox" placeholder="Email" type="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td><input class="txtbox" placeholder="Password" type="password" name="pwd1" required></td>
                    </tr>
                    <tr>
                    <td><input class="txtbox" placeholder="Confirm Password" type="password" name="pwd2" required></td>
                    </tr>
                    <tr>
                        <td><input id="bt" type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>

