<!DOCTYPE html>
    <head>
        <title> Upload </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="upload.css") }}/>
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
            <h2> <a href={{ url_for('profile') }}> BUKSHELF </a> </h2>

        </div>


            <div id="notes">

                    <form id="upload" method="POST" enctype="multipart/form-data">
                        <table>
                            <tr class="txt">
                            <td class="txthead">UPLOAD NOTES</td>
                        </tr>
                            <tr>
                                <td> <input class="textbox" type="text" name="title" placeholder="File Name"  required></td>
                            </tr>
                            <tr>
                                <td> <textarea name="description" placeholder="Description" cols="33" rows="5" required></textarea></td>
                            </tr>
                            <tr>
                                <td><input id="cfile" name="file" type="file" required></td>
                            </tr>

                            <tr>
                                <td><input class="textbox" type="number" name="price" placeholder="Price" min="1" max="500" required></td>
                            </tr>
                            <tr>
                                <td><input id="bt" type="submit" value="Submit" /></td>
                            </tr>
                        </table>
                   </form>
            </div>

            <a id="fork" href={{ url_for('signout') }}>Signout</a>

    </body>
</html>