<!DOCTYPE html>
    <head>
        <title> Upload </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="upload.css") }}/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
         $(document).ready(function() {
            //write your scripts here
             $(document).on("submit", "#upload", function(e) {
                        alert("Upload Successful");


                });
         });
        </script>
    </head>
    <body>

        <div id="header">
                <h2> BUKSHELF </h2>

        </div>


            <div id="notes">

                    <form id="upload" action="userpro.html">
                        <table>
                            <tr class="txt">
                            <td class="txthead">UPLOAD NOTES</td>
                        </tr>
                            <tr>
                                <td> <input class="textbox" type="text" name="bname" placeholder="File Name"  required></td>
                            </tr>

                            <tr>
                                <td><input id="cfile"  type="file" required></td>
                            </tr>

                            <tr>
                                <td><input class="textbox" type="number" name="srate" placeholder="Price" min="1" max="150" required></td>
                            </tr>
                            <tr>
                                <td><input id="bt" type="submit" value="Submit" /></td>
                            </tr>
                        </table>
                   </form>
                </div>



    </body>
</html>