<html>
    <head>
    <title> userprofile </title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="userpro.css") }}>
        <script type="text/javascript" src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pace.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="sweetalert.css") }} />
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="pace.css") }} />
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                var msg = messages[i];
                var res = msg.split("|");
                if (res.length === 3){
                    swal(res[0], res[1],res[2]);
                } else if (res.length === 2) {
                    swal(res[0], res[1]);
                } else {
                    swal(res[0]);
                }
              }
            </script>
          {% endif %}
        {% endwith %}
        <div id="header">
                <h2>  BUKSHELF </h2>
           
        </div>

    <ul id="categories" class="clr">
        
       
      <li class="pusher"></li>
        <li>
          <div>
            <img src={{ url_for('static', filename="learn.jpg") }} alt="learn"/>
            <h1>To Learn</h1>
            <p>Search through the bunch of authorized notes, select and download necessary notes and improve your grades.</p>
        </div>
      </li>
        
        <li>
          <div>
            <img src={{ url_for('static', filename="earn.jpg") }} alt="earn"/>
            <h1>To Earn</h1>
            <p>Upload your hand-written notes in pdf format or provide your textbook details, set price and earn pocket money.</p>
        </div>
      </li>
        
        
        <div id="upload">
            <a href={{ url_for('select') }}> Upload </a>
        </div>
         
    </ul>
        <div id="search">
            <form method="POST">
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
        
     <a id="fork" href={{ url_for('signout') }}>Signout</a>
    <a id="my_account" href={{ url_for('account') }}>My Account</a>
        
    </body>   
</html>